* {
    font-family: sans-serif;
    margin: 0; padding: 0; 
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border: none;
    text-transform: capitalize;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    
}

body {
    background: black;
    padding-bottom: 6.5rem;
    /* background-image: url('images/bg.jpg');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
}

section {
    padding: 3rem 2rem;
}

.heading {
    text-align: center;
    font-size: 6vw;
    color: white;
    margin-bottom: 3rem;
    text-transform: uppercase;
}

.heading span {
    text-transform: uppercase;
    color: pink;
}

.btn {
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background: crimson;
    padding: 2rem;
    font-size: 2rem;
    color: white;
    transition: 0.2s linear;
}

.btn:hover {
    padding: 2.5rem;
    background:lightblue;
}


.navbar {
    position: fixed;
    bottom: 0; left: 0; right: 0;
    display: flex;
    z-index: 1000;
    align-items: flex-end;
}

a {
    padding: 2rem;
    font-size: 2rem;
    background: pink;
    flex: 1;
    color: white;
    text-align: center;
    transition: 0.2s linear;
}

.navbar a:hover {
    background: lightblue;
    padding-bottom: 6rem;
}

.home {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 4rem;
    min-height: calc(100vh - 6.5rem);
}

.image {
    flex: 1 1 42rem;
    text-align: center;
}

.image img {
    height: 50rem;
    width: 50rem;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}

.content {
    flex: 1 1 42rem;
}

.content h3{
    color:white;
    font-size: 4rem;
    padding-bottom: 0.5rem;
}

.content span {
    font-size: 3rem;
    color: crimson;
    padding: 0.5rem 0;
    display: block;
}

.content p {
    font-size: 1.5rem;
    color: pink;
    padding: 1rem 0;
    line-height: 2;
}

.about .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.about .info-container {
    flex: 1 1 42rem;
}

.about .info-container h1 {
    font-size: 4rem;
    color: white;
    text-transform: uppercase;
    padding-bottom: 1rem;
}

.about .box-container {
    padding: 1rem 0;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.about .box-container .box {
    flex: 1 1 20rem;
}

.about .box-container .box h3 {
    font-size: 1.7rem;
    color: white;
    padding: 1rem 0;
    font-weight: normal;
}

.about .box-container .box h3 span {
    font-weight:lighter;
    color: grey;
}

.about .count-container {
    flex: 1 1 42rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.about .count-container .box {
    flex: 1 1 20rem;
    padding: 3rem 4rem;
    border-radius: 0.5rem;
    background: rgb(26, 24, 24);
    box-shadow: rgb(14, 13, 13);
}

.about .count-container .box h3 {
    font-size: 5rem;
    color: pink;
}

.about .count-container .box p {
    
    font-size: 2rem;
    color: rgb(245, 234, 234);
}

.history .box h1 {

}

.history .box p {
    margin: 2rem; padding:2rem;
    color: white;
    font-size: 3rem;
    text-transform: none;
}

.skills .img-container img{
    display: block;
    max-width: 100%;
}

.skills .box {
    width: 25%;
    min-height: 100%;
    float:left;
}

.skills .box h3 {
    padding-bottom: 10rem;
}

/* .skills .box {
    float: left;
    padding-top: 12rem;
    padding-bottom: 12rem;
} */

.skills h3 {
    text-align: center;
    font-size: 5rem;
    color: white;
}

/* .skills img {
    display: flex;
    flex-direction: column;
} */


.education .box-container {
    display: flex;
    flex-wrap: wrap;
}

.education .box{
    flex: 1 1 40rem;
    margin-left: 2rem;
    padding: 2rem;
    padding-left: 3.5rem;  
    padding-bottom: 2rem;  
    border-left: 0.1rem solid grey;
    color: white;
    position: relative;
    font-size: 2rem;
    text-align: center;
}



.hobbies .box-container {
    display: flex;
    flex-wrap: wrap;
}

.hobbies .box{
    flex: 1 1 40rem;
    margin-left: 2rem;
    padding: 2rem;
    padding-left: 3.5rem;  
    padding-bottom: 2rem;  
    border-left: 0.1rem solid grey;
    color: white;
    position: relative;
    font-size: 2rem;
    text-align: center;

}




@media (max-width:1400px) {
    font-size: 55%
}

@media (max-width:768px) {
    .heading {
        font-size: 12vw;
    }

    .navbar a {
        padding: 0;
    }

    .navbar span {
        display: none;
    }

    .navbar a:hover {
        padding-bottom: 2rem;
    }

    .home {
        text-align: center;
        gap: 2rem;
    }

    .image img {
        height: 30rem;
        width: 30rem;
    }

    .content h3 {
        font-size: 3rem;
    }
    .content span {
            font-size: 2.5rem;
        }
    }

@media (max-width:450px) {
    
}

/* i {
    color: red;
    padding-right: 0.5rem;
}

i:hover {
    background: crimson;
} */




